{% include 'recipes/base_head.html' %}

<body>

  {% include 'recipes/base_header.html' %}
  {% include 'recipes/base_search.html' %}

  <div class="main-content-container">
    <div class="main-content main-content-list container">

      {% include 'recipes/base_recipe.html' %}
      {% include 'recipes/base_recipe.html' %}
      {% include 'recipes/base_recipe.html' %}
      {% include 'recipes/base_recipe.html' %}
      {% include 'recipes/base_recipe.html' %}
      {% include 'recipes/base_recipe.html' %}
      {% include 'recipes/base_recipe.html' %}
      {% include 'recipes/base_recipe.html' %}

    </div>
  </div>

  {% include 'recipes/base_footer.html' %}

</body>
