* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #E0E0E0;
  color: #444444;
  font-family: sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

.center {
  text-align: center;
  margin: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 30px;
}

.main-content {
  padding-top: 0;
}

.main-content-detail .recipe-list-item {
  margin: 0 auto;
  max-width: 840px;
}

.main-content-detail .recipe-list-item:hover {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, .2);
  transform: scale(1);
}

.main-content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 40px;
}

.main-footer {
  align-items: center;
  background: #13141F;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.main-footer a {
  color: #FFFFFF;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  filter: brightness(.8);
}

.main-header-container {
  background-color: #13141F;
}

.main-logo {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  font-size: 40px;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  width: fit-content;
}

.main-logo-icon {
  margin-right: 20px;
}

.preparation-steps {
  padding: 30px;
}

.preparation-steps ol, ul {
  margin: 10 0px;
  padding: 0 30px;
}

.recipe {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, .2);
  overflow: hidden;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.recipe-author {
  padding: 0 30px;
}

.recipe-author a {
  color: #13141F;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.recipe-author a:hover {
  color: #269FE6;
}

.recipe-author-item {
  color: #959595;
  margin-right: 10px;
}

.recipe-content {
  padding: 30px;
  padding-top: 20px;
}

.recipe-footer a {
  background: #13141F;
  color: #FFFFFF;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.recipe-footer a:hover {
  filter: brightness(2)
}

.recipe img {
  max-width: 100%;
}

.recipe-list-item {
  max-width: 640px;
  height: fit-content;
}

.recipe-list-item:hover {
  box-shadow: -10px 10px 10px rgba(0, 0, 0, .3);
  transform: scale(1.02);
}

.recipe-meta {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.recipe-meta-container {
  background: #F9F9F9;
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
}

.recipe-meta-title {
  font-size: 16px;
}

.recipe-title-container {
  padding: 30px;
  padding-bottom: 20px;
}

.recipe-title-container a {
  color: #13141F;
  text-decoration: none;
}

.search-button {
  background: none;
  border: none;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-in-out;
  outline: none;
}

.search-form {
  border: 2px solid #13141F;
  border-radius: 4px;
  margin: 0 auto;
  max-width: 640px;
  position: relative;
  transition: all 300ms ease-in-out;
}

.search-form:focus-within {
  background: #FFFFFF;
  border-color: #269FE6;
}

.search-form:focus-within .search-button {
  color: #269FE6;
}

.search-input {
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  padding-right: 30px;
  transition: all 300ms ease-in-out;
  width: 100%;
}
